        <% flash.each do |name, msg|%>
        <%= content_tag :a, msg, :id => "flash_#{name}" %>
        <% end %>
<div id="logo">
  <%= raw image_tag("/code_image/#{current_user.id}", :alt => "avatar", :size => "100x100") %>
  <div id="details">
      <br><%= current_user.fullname %></br>
      <br><%= current_user.login %></br>
      <br><%= current_user.mail %></br>
      <strong><br><%= link_to 'Edit profile', edit_user_path(current_user) %></br></strong>
  </div>
</div>
<div id="menu">
  <ul>
    <li class="current_page_item"><%= link_to 'Friends', users_path %></li>
    <li><%= link_to 'People', people_path %></li>
    <li><a href="#">About</a></li>
            <% if current_user %>
            <li><%= link_to "Log out", log_out_path %></li>
            <% end %>           
  </ul>
</div>

