<p>
  <b>Fullname:</b>
  <%= @user.fullname %>
</p>
<p><div id="image"><%= raw image_tag("/code_image/#{@user.id}", :alt => "avatar", :size => "100x100") %></div>
</p>
<p>
  <b>Login:</b>
  <%= @user.login %>
</p>
<p>
  <b>Mail:</b>
  <%= @user.mail%>
</p>
<%= render 'events' %>
<%= link_to 'Back', :back %> | <%= link_to 'Edit Profile', edit_user_path %>
