<p>
  <b>Event name:</b>
  <%= @event.name %>
</p>
<p>
  <b>Location:</b>
  <%= @event.location %>
</p>
<p>
  <b>Descritption:</b>
  <%= @event.descritption %>
</p>
<%= link_to 'Back', current_user %> | <%= link_to 'Edit Event', edit_event_path %>
