<!DOCTYPE html>
<html>
<head>
  <title>Newface</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
  <div id="header-wrapper">
    	<div id="header">
      <% if current_user %>
      <%= render 'users/show' %>
      <% end %>
    </div>
  </div>
    <div id="page">
      <div id="page-bgtop">
        <div id="page-bgbtm">
        <% if current_user %>
            <div id="content">
              <%= yield %>
            </div>
          <div id="sidebar">
					<ul>
						<li>
							<div id="search" >
							  <%= render 'users/search' %>
							</div>
							<div style="clear: both;">&nbsp;</div>
						</li>
						<li>
						    <%= render 'users/friendInvites' %>
							  <%= render 'users/myevents' %>
						</li>
					</ul>
				</div>
				<% else %>
				    <div id="sidebar">
				      <%= yield %>
				    </div>
				<% end %>
				<!-- end #sidebar -->
				<div style="clear: both;">&nbsp;</div>
        </div>
      </div>
    </div>
    <div id="footer">
	<p>Copyright (c) 2011 Sitename.com. All rights reserved. Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
</div>
</div>
</body>
</html>
